* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body{
    height: 100%;
}
.barra-esquerda{
    background-color: #000;
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 91%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-toda{
    padding-bottom: 200px;
}
.barra-logo img{
    max-width: 155px;
    width: 100%;
    padding: 13px;
}
.menu a{
    font-size: 13px;
    color: #B3B3B3;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    
}
.menu a:hover{
    color: #ffffff;
}
.menu img{
    max-width: 25px ;
    margin-right: 14px;
}
.playlist-barra{
    padding: 15px -10px;
    border-top: 1px solid #363636;
    margin: 10px 10px;
}
.playlist-barra p{
    margin: 15px 10px;
    display: block;
    color: #A9A9A9;
    text-decoration: none;
    font-weight: 700;

}
.playlist-barra p:hover{
    color: white;
}
.principal{
    width: calc(100% - 250px);
    background-color: #121212;
    height: 100%;
    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}
.bloco-fav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.colunas-fav{
    cursor: pointer;
    width: 32.334%;
    margin: 0.5%;
    background-color: #181818;
    border-radius: 6px;

}
.colunas-fav:hover{
    background-color: #282828;
}
.colunas-fav img{
    height: 90px;

}
.colunas-fav p{
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin: -60px;
  margin-top: -57px;
  margin-bottom: 31.5px;
  font-size: 18px;
  font-weight: 700;
}
.bloco-fav a{
    position: relative;
    color: #ffffff;
    text-decoration: none;  
    
}
.bloco-fav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
  }
.bloco-fav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
.principal-blocos{
    display: flex;
    flex-wrap: wrap;
    width: 101%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.meio-principal{
    padding-bottom: 200px;
}
.titulo-principal{
    width: 100%;
    padding: 15px 0px 20px;
}
.titulo-principal h2{
    color: #ffffff;
}
.principal-colunas{
    cursor: pointer;
    width: 11.5%;
    margin-right: 1%;
    background-color: #181818;
    border-radius: 6px;
    padding: 17px;
    text-align: center;
}
.principal-colunas:hover{
    background-color: #282828;
}
.principal-blocos a{
    position: relative;
    color: #ffffff;
    text-decoration: none;  
    
}
.principal-blocos a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
  }
.principal-blocos a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
.principal-colunas img{
    width: 138px;
}
.principal-colunas h3{
    color: #ffffff;
    margin: 8px 0;
    text-align: left;
    padding: 0 0 4px;
    font-size: 16px;
    font-weight: 700;
}
.principal-colunas p{
    color: #6a6a6a;
    margin: 8px 0;
    font-size: 13px;
    text-align: left;
    font-weight: 700;
}
.player{
    width: 100%;
    padding: 18px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: #181818;
}
.player-artista{
    width: 20%;
}
.player-artista img{
    max-width: 56px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 18px;
}
.player-artista h3{
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: -10px;
}
.player-artista p{
    display: inline-block;
    font-size: 11px;
    vertical-align: bottom;
    margin-left: -66.5px;
    margin-bottom: 14px;
}
.player-artista a{
    position: relative;
    color: #ffffff;
    text-decoration: none; 
}
.player-artista a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
  }
.player-artista a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
.player-artista h3{
    color: #c8c8c8;
    font-size: 13px;
}
.controle-player{
    width: 70%;
    text-align: center;
}
.botao-pleyar img{
    max-width: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin: 10px;
}
.progresso-player{
    width: 100%;
    max-width: 680px;
    height: 4px;
    margin-top: 10px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background: #535353;
}
.progresso-player-1{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 4px;
    border-radius: 8px;
    background-color: #B3B3B3;
}
@media only screen and (max-width: 1700px){
    .principal-colunas{
        width: 20%;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2a2a2a; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #363636; 
  }